@font-face {
    font-family: 'Sego';
    src: url('../fonts/segoeui.eot?#') format('eot'), /* IE6–8 */ url('../fonts/segoeui.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/segoeui.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body {
    font-family: Sego, Tahoma, Helvetica, sans-serif;
    direction: rtl;
    padding-top: 100px;
}

/* Hide spinners for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Hide spinners for Chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.top-bottom-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 992px) {
    .padding-left {
        padding-left: 10px;
    }

    .padding-right {
        padding-right: 10px;
    }
}

.margin-top {
    margin-top: 20px;
}

.carousel-indicators li {
    /*width: 16px;*/
    /*height: 16px;*/
    /*margin: 1px;*/
    background-color: #8a8c8f;
    border-radius: 16px;
    border: 0;
}

.carousel-indicators .active {
    /*width: 16px;*/
    /*height: 16px;*/
    background-color: #8dc63f;
}

/* center bootstrap carousel img */
.carousel-inner > .item > img {
    margin: 0 auto;
}

@media (max-width: 767px) {
    .carousel-indicators li {
        /*width: 12px;*/
        /*height: 12px;*/
        /*margin: 1px;*/
        background-color: #8a8c8f;
        border-radius: 12px;
        border: 0;
    }

    .carousel-indicators .active {
        /*width: 10px;*/
        /*height: 12px;*/
        background-color: #8dc63f;
    }
}

.panel {
    border-radius: 0;
    border: none;
}

.panel a {
    color: #58595b;
    text-decoration: none;
}

.panel-body {
    padding: 25px;
}

.panel-default > .panel-heading {
    border-radius: 0;
    border-color: #ddd;
}

.panel-heading {
    z-index: -1;
    border: 2px solid #c8cdce;
    -webkit-transition: all ease-in-out 0.6s;
    -moz-transition: all ease-in-out 0.6s;
    -ms-transition: all ease-in-out 0.6s;
    -o-transition: all ease-in-out 0.6s;
    transition: all ease-in-out 0.6s;
}

.panel-heading.active {
    z-index: 2;
    position: relative;
    border: 2px solid #8dc63f;
}

.panel-heading.active.right {
    margin-left: -2px;
}

.panel-heading.active.left {
    margin-right: -2px;
}

.btn-line {
    color: #939598;
    font-size: 22px;
    font-weight: 400;
    padding: 5px 50px 5px 50px;
    border-radius: 8px;
    border: 2px solid #8dc63f;
    background-color: transparent;
}

.btn-green {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    padding: 5px 50px 5px 50px;
    border-radius: 8px;
    background-color: #8dc63f;
}

.btn-line:hover, .btn-line:focus {
    color: #ffffff;
    background-color: #8dc63f;
}

.form-input {
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
    border-radius: 8px;
    padding: 6px 12px;
    white-space: nowrap;
    vertical-align: middle;
    direction: ltr;
}

.form-input:focus {
    outline: 0;
}

.form-input::-webkit-input-placeholder {
    direction: rtl;
    color: #ffffff;
}

.form-input:-moz-placeholder {
    direction: rtl;
    color: #ffffff;
}

.form-input::-moz-placeholder {
    direction: rtl;
    color: #ffffff;
}

.form-input:-ms-input-placeholder {
    direction: rtl;
    color: #ffffff;
}

.arrow_box {
    position: relative;
    background: #808285;
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 35px;
    border-radius: 10px;
    padding: 15px;
}

.arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(128, 130, 133, 0);
    border-top-color: #808285;
    border-width: 26px;
    margin-left: -26px;
}

.progress {
    height: 50px;
    border-radius: 50px;
    background-color: #f1f2f2;
    border: 2px solid #8dc63f;
}

.progress-bar {
    float: right;
    background-color: #8dc63f;
}

#summery p, h1 {
    color: #808285;
    font-size: 20px;
    font-weight: 400;
}

section h1 {
    font-size: 45px;
    font-weight: 600;
}

#support h1 {
    color: #ffffff;
}

#budget h3, p {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #808285;
    font-size: 100px;
    font-weight: 700;
}

#budget p {
    font-size: 30px;
    font-weight: 400;
}

#interview h1 {
    color: #8dc63f;
    font-size: 45px; /* Approximation due to font substitution */
    font-weight: 600;
}

#interview h3 {
    color: #939598;
    font-size: 22px; /* Approximation due to font substitution */
    font-weight: 600;
}

.damon {
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.damon p {
    color: #f2f2f3;
    font-size: 20px;
    font-weight: 400;
}

.avatar {
    display: inline-block;
    border-radius: 50%;
    background-color: #939598;
    margin: 3px;
    width: 70px;
    height: 70px;
}

.social {
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin: 3px;
    width: 70px;
    height: 70px;
    padding: 12px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
}

.social:hover, .social:focus {
    background-color: #000000;
    color: #8dc63f;
}
