<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Campaign for opensource persian font">
    <meta name="keywords" content="Libre font,persian, persian font, opensource, persian opensource font, free font, free">
    <meta name="author" content="Hamid FzM (hamidfzm@gmail.com)">

    <title>{{ g.title }}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hover.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='image/favico.png') }}"/>
    {% block css %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function () {

            $(document).on("scroll", onScroll);

            $('.top-menu-item').click(function (e) {
                var currLink = $(this);
                var refElement = $(currLink.attr('href'));

                if (!refElement.length) return;

                e.preventDefault();
                $(document).off("scroll");


                $('.top-menu-item.active').removeClass('active');

                $('html, body').stop().animate({
                    scrollTop: refElement.offset().top - 100
                }, 1000, 'swing', function () {
                    $(document).on("scroll", onScroll);
                });

                currLink.addClass('active');
            })
        });

        function onScroll(e) {
            var scrollPos = $(document).scrollTop();
            $('.top-menu-item').each(function () {
                var currLink = $(this);
                var refElement = $(currLink.attr('href'));

                if (!refElement.length) return;

                var top = refElement.position().top - 100;
                if (top <= scrollPos && top  + refElement.height() > scrollPos) {
                    $('.top-menu-item.active').removeClass('active');
                    currLink.addClass('active');
                }
                else {
                    currLink.removeClass('active');
                }
            });
        }
    </script>

    {% block script %}
    {% endblock %}

</head>
<body>

    <section id="navbar">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container" style="height: 100px">
                <div class="navbar-header">
                    <img style="background-color: transparent; cursor: pointer"
                         class="navbar-toggle"
                         src="{{ url_for('static', filename='image/logo.png') }}"
                         data-toggle="collapse"
                         data-target="#navbar-brand-centered">

                    <div class="navbar-brand navbar-brand-centered hidden-xs">
                        <a class="top-menu-item" href="#gallery">
                            <img src="{{ url_for('static', filename='image/logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse nav-bg-color " id="navbar-brand-centered">
                    <ul class="nav navbar-nav">
                        <li><a class="top-menu-item" href="#">تماس با ما</a></li>
                        <li><a class="top-menu-item" href="#supporters">حمایت کنندگان</a></li>
                        <li><a class="top-menu-item" href="#support">حمایت</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="top-menu-item" href="#budget">بودجه</a></li>
                        <li><a class="top-menu-item" href="#interview">مصاحبه</a></li>
                        <li><a class="top-menu-item" href="#summery" data-targ>قلم چیست</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

{% block body %}
{% endblock %}

</body>
</html>