<p style="line-height: 1.8em;">این پیشنهاد بسیار خوب آقای خانجانزاده عزم ما را برای تهیه قلم بیشتر کرد و تصمیم گرفتیم این مبلغ را با کمک افراد جامعه تهیه کنیم. به همین منظور کمپینی ایجاد کردیم تا هزینه قلم به صورت کراد فاندینگ تهیه شود و محصول نهایی به صورت آزاد و رایگان در اختیار جامعه قرار گیرد.
شما می‌توانید ما را برای جمع‌آوری مبلغ مورد نیاز برای این قلم یاری فرمایید. طبیعتا قلم نهایی با مجوز آزاد و به صورت رایگان در اختیار تمامی افراد جامعه قرار می‌گیرد.
</p>
<p>توضیحاتی در مورد کمپین و افراد پشت کمپین در <a href="https://docs.google.com/document/d/1PqlNW67BMWnKmMBAsOyxlwmqywor5kNpasRtG7tKI40/edit?usp=sharing" target="_blank">اینجا</a>  آورده شده است.</p>
