 <style>

 	p {
 		line-height: 1.8em;
 	}

</style>

</br>
<p>چند بار شده خطی از متنی را بخوانید، متوجه مطلب نشوید و دوباره از اول بخوانید؟ چقدر شده که یک کلمه را اشتباه بخوانید؟ نقطه‌ها را جابه‌جا ببینید؟ دقت کرده‌اید چه قدر ارایه‌های فارسی نسبت به نمونه انگلیسی‌شان بد شکل هستند؟ تا حالا سعی کردیده‌اید وب‌سایت‌های مختلف مثلا جیمیل را به زبان فارسی ببینید؟ دقت کردیده‌اید چقدر ناخوانا و زشت هستند؟ یا مثلا زمان خواندن مطالب طولانی به زبان فارسی چشمتان خسته شده و شروع به سوزش کرده؟ دیده‌اید زیرنویس شبکه‌های مختلف سیما چقدر بد خوانده می‌شود؟ به نظرتان ممکن است سرانه کم مطالعه در ایران به قلم هم ارتباط داشته باشد؟</br>
این‌ها همه ناشی از مشکلات طراحی است که یا خطای دید ایجاد می‌کند یا قلم، خوانایی لازم را ندارد یا با خط فارسی مطابقت ندارد و کلی مسائل دیگر که خارج از ظرفیت این مطلب است.<br/>
یکسری مشکلات فنی در پیاده‌‌سازی قلم داریم. مثل مطابق نبودن با جدول یونیکد یا به کار گرفتن شکل اشتباه برای کاما، ویرگول و جدا کننده هزارگان یا نداشتن اطلاعات هینت (hint) مناسب و در نتیجه نمایش بد قلم‌ها دربعضی از سیستم‌های قدیمی به خصوص در ویندوز، یا حجم بالای قلم‌ها و عدم امکان استفاده برای وب‌فونت.<br/>
دسته بعدی مشکلات مربوط به قوانین حقوقی است. در کل شاید کمتر از انگشتان یک دست قلم فارسی با مجوز آزاد داشته باشیم. بقیه قلم‌ها یا معلوم نیست چه مجوزی دارند یا آزاد نیستند. حتی اگر قصد خرید هم داشته باشید تعداد بسیاری را اصلا نمی‌شود فهمید که باید از کجا و چطور خرید.<br>
نتیجه منطقی: تقریبا تمام قلم‌هایی که در حال استفاده هستیم را نباید استفاده کنیم.<p/>
<p>
طراحی قلم کار بسیار سخت و زمانبری است در نتیجه هزینه تولید بسیار زیادی هم دارد. طبق مصوبه انجمن صنفی طراحان گرافیک هزینه تولید یک خانواده قلم حدود ۳۲ میلیون تومان است و این، کار ما را برای تهیه قلم سخت‌تر می‌کرد.
در صحبت‌های متعدد، با افراد مختلف به دامون خانجانزاده رسیدیم که جزو بهترین طراح‌های قلم در ایران هستند. پس از چند جلسه، ایشان قبول کردند با تخفیف بسیار زیاد یک خانواده قلم برای ویکیپدیا طراحی کنند، در واقع ما تنها بخشی از هزینه تولید قلم را می‌پردازیم.<p/>
