


<p>قطعا اقدامات مناسب دولت و سازمان‌ها و دانشگاه‌ها و حتی شرکت‌ها مختلف می‌تواند در این زمینه راه‌گشا باشد ولی من امیدی ندارم! همان طور که تا کنون اقدامی صورت نگرفته است، بعید است حرکت مثبتی را هم بتوان انتظار داشت
تصمیم گرفتم برای رفع این نیاز دست به کار شوم، شما هم دوست دارید کمک کنید؟ با ما باشید.</p>


<p>طراحی قلم کار بسیار سخت و زمانبری است در نتیجه هزینه تولید بسیار زیادی هم دارد. طبق مصوبه انجمن صنفی طراحان گرافیک هزینه تولید یک خانواده قلم حدود ۳۲ میلیون تومان است و این، کار ما را برای تهیه قلم سخت‌تر می‌کرد.</p>
<p>همان اوایل متوجه شدیم ویکی‌پدیا فارسی هم دنبال قلم مناسب است و سعی کردیم با هم به دنبال قلم باشیم. این شد که تصمیم گرفتیم حداقل برای شروع کار یک قلم برای ویکی‌پدیای فارسی تهیه کنیم.</p>
<p>برای تهیه قلم به راه حل‌های زیادی فکر کردیم که توضیح آن قطعا شما را دچار سر درد خواهد کرد. تعدادی از راه‌کارها خط خوردند، تعدادی شاید در آینده عملی شود، ولی فعلا یک گزینه روی میز داریم که به نظر می‌رسد بهترین راه‌حل باشد.</p>
<p>در صحبت‌های متعدد، با افراد مختلف به دامون خانجانزاده رسیدیم که جزو بهترین طراح‌های قلم در ایران هستند پس از چند جلسه، ایشان قبول کردند با تخفیف بسیار زیاد یک خانواده از قلم برایمان طراحی کنند در واقع ما تنها ، بخشی از هزینه تولید قلم را بپردازیم.</p>
<p>این پیشنهاد بسیار خوب آقای خانجانزاده عزم ما را برای تهیه قلم بیشتر کرد و تصمیم گرفتیم این مبلغ را با کمک افراد جامعه تهیه کنیم.</p>
<p>برای همین منظور کمپینی ایجاد کردیم تا هزینه قلم به صورت کراد فاندینگ تهیه شود و محصول نهایی به صورت آزاد و رایگان در اختیار جامعه قرار گیرد.</p>
<p>شما می‌توانید ما را برای جمع‌آوری مبلغ مورد نیاز برای این قلم یاری فرمایید. طبیعتا قلم نهایی با مجوز آزاد و به صورت رایگان در اختیار تمامی افراد جامعه قرار می‌گیرد.</p>
<p>شما  می‌توانید ویژگی‌های قلم نهایی را در قسمت ویژگی‌های قلم مشاهده کنید.</p>
<p>پیشنهاد می‌کنم در ادامه مصاحبه با آقای دامون خانجانزاده را بخوانید که در مورد مسائل مهمی در طراحی قلم صحبت کردند
همچنین لازم است از تمام کسانی که در این پروژه به ما کمک کردند تشکر کنیم.</p>


