<ul class="justify">
    <li>قلم توسط دامون خانجانزاده، یکی از اساتید مطرح در طراحی حروف فارسی حال حاضر ایران و متناسب با ویژگی‌های خط فارسی طراحی می‌شود.</li>
    <li>قلم تحت پروانهٔ <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a> به طور رایگان در دو نسخهٔ مناسبِ صفحهٔ نمایش و چاپ عرضه می‌شود.</li>
    <li>تا حد امکان سعی می‌شود در تمامی سکوها نمایش یکسانی داشته باشد.</li>
    <li>یک خانوادهٔ کامل شامل مایل، پررنگ و مایلِ پررنگ ساخته می‌شود.</li>
    <li>حجم قلم تا جایی که تأثیر منفی روی کیفیت کار نگذارد با تکیه بر تکنیک‌ها و ارجاع‌دهی کم می‌شود تا قابل استفاده به‌عنوان وب‌قلم باشد.</li>
    <li>در طراحی قلم خوانایی متن، جزئیات فنی و استاندارد سازی اهمیت فراوانی دارد.</li>
    <li>قلم شامل نویسه‌های کامل زبان‌های فارسی و عربی و در همهٔ حالت‌ها «ك ي ى ء ؤ ئ أ ة» و در صورت امکان کُردی سورانی: «ڕ‎ ڵ‎ ڤ‎ ێ‎ ۆ‎ ھ‎ ە» ‎گیلگی/مازندرانی: «ە ˇ» پشتو: «ټ‎ څ‎ ځ‎ ډ‎ ړ‎ ږ‎ ښ‎ ګ‎ ڼ‎ ي‎ ې‎ ی‎ ۍ‎» پنجابی: «ڈ ڑ ھ ے ہ ہہ» عربی مصر: «ڤ» می‌باشد. نویسه‌ها مطابق جدول یونی‌کد طراحی می‌شود. همچنین اعداد فارسی، عربیِ هندی و عربی به صورت جداگانه طراحی می‌شوند.</li>
    <li>کد منبع تحت پروانهٔ یادشده در اختیار عموم قرار می‌گیرد و روی گیت‌هاب منتشر می‌شود.</li>
    <li>مراحل پیشرفت پروژه از طریق وب‌گاه پروژه و همچنین شبکه‌های اجتماعی گزارش می‌شود.</li>
</ul>