{% extends 'base.html' %}

{% block body %}
    <section id="gallery" style="background-color: #252726">
        <div class="container-fluid">
            <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ url_for('static', filename='image/carousel1.jpg') }}">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='image/carousel2.jpg') }}">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='image/carousel3.jpg') }}">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='image/carousel4.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="summery" class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 top-bottom-padding">
        <script>
            $(document).ready(function () {
                $('.tab').click(function () {
                    $('.tab').children('.panel-heading').removeClass('active');
                    $(this).children('.panel-heading').addClass('active');

                });

            });

        </script>
        <div class="col-md-6 no-padding col-md-push-6">
            <div class="panel panel-default">
                <a href=".home" data-toggle="tab" class="tab">
                    <div class="panel-heading active right text-center">
                        <h3>قلم چیست</h3>
                    </div>
                </a>

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active text-center home" id="home">
                            <img src="{{ url_for('static', filename='image/why.png') }}">

                            <h1>قلم (فونت) چیست؟و یک قلم فارسی چــــــه ویژگی دارد؟</h1>
                        </div>
                        <div class="tab-pane fade svn" id="svn">svnfddf</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 no-padding col-md-pull-6">
            <div class="panel panel-default">
                <a href=".svn" data-toggle="tab" class="tab">
                    <div class="panel-heading left text-center">
                        <h3>ویژگی های قلم</h3>
                    </div>
                </a>

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active home" id="home">
                            <p>آقای جمشید مشایخی لقب سعدی سینمای ایران را به زنده‌یاد حاتمی داد. چندی پیش هم مقاله‌ای خواندم كه وی را با حافظ مقایسه كرده بودند. من هم حاتمی را با فردوسی‌ قیاس كردم. این نشان دهنده پویایی این شخص است. هرچه زمان بر او می‌گذرد لایه‌های دیگر تفكراتش آشكار می‌شود. نكته دیگر اینكه نباید شاهنامه را فقط در ژانر حماسه محدود كرد. در شاهنامه جنبه‌‌های دیگری هم وجود دارد. اگر تاریخ را در نظر بگیریم خواهیم دید كه حاتمی همان برخوردی را با تاریخ و شخصیت‌های تاریخی داشته كه
                                فردوسی. حاتمی هم مانند فردوسی برخی شخصیت‌های آثارش را از دل تاریخ بیرون كشیده. من در كتابم ‌تمثیل پنیر پیتزا را به كار برده‌ام. حاتمی شخصیت‌های تاریخی را می‌كشد و كِش می‌دهد تا آنها را دراماتیزه كند و عنصر نمایش را به آنها اضافه كند. و صرفاً راوی تاریخ نباشد. من از جهت برخورد مشابهی كه فردوسی و حاتمی با تاریخ و شخصیت‌های تاریخی داشته‌اند، آنها را با هم مقایسه كرده‌ام. ممكن است چند سال دیگر، یك نفر حاتمی را با شاعر دیگری مقایسه كند. این آدم مثل دانه‌ای است كه
                                دارد رشد می‌كند و هرچه زمان بر او بگذرد، لایه‌های دیگری از وجودش كشف می‌شود.</p>
                        </div>
                        <div class="tab-pane fade svn" id="svn">svn</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="interview" class="col-lg-12 col-md-12 col-sm-12 damon top-bottom-padding" style="background-image: url('{{ url_for('static', filename='image/damon.jpg') }}');">
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding-top: 50px; padding-bottom: 50px">
            <h1>مصاحبه با دامون خان جانزاده</h1>

            <h3>| نویسنده | بهداد رحیمی|</h3>

            <p>آقای جمشید مشایخی لقب سعدی سینمای ایران را به زنده‌یاد حاتمی داد. چندی پیش هم مقاله‌ای خواندم كه وی را با حافظ مقایسه كرده بودند. من هم حاتمی را با فردوسی‌ قیاس كردم. این نشان دهنده پویایی این شخص است. هرچه زمان بر او می‌گذرد لایه‌های دیگر تفكراتش آشكار می‌شود. نكته دیگر اینكه نباید شاهنامه را فقط در ژانر حماسه محدود كرد. در شاهنامه جنبه‌‌های دیگری هم وجود دارد. اگر تاریخ را در نظر بگیریم خواهیم دید كه حاتمی همان برخوردی را با تاریخ و شخصیت‌های تاریخی داشته كه فردوسی. حاتمی هم
                مانند فردوسی برخی شخصیت‌های آثارش را از دل تاریخ بیرون كشیده. من در كتابم ‌تمثیل پنیر پیتزا را به كار برده‌ام. حاتمی شخصیت‌های تاریخی را می‌كشد و كِش می‌دهد تا آنها را دراماتیزه كند و عنصر نمایش را به آنها اضافه كند. و صرفاً راوی تاریخ نباشد. من از جهت برخورد مشابهی كه فردوسی و حاتمی با تاریخ و شخصیت‌های تاریخی داشته‌اند، آنها را با هم مقایسه كرده‌ام. ممكن است چند سال دیگر، یك نفر حاتمی را با شاعر </p>
            <a href="#" class="btn btn-line pull-left">ادامه مطلب</a>
        </div>
    </section>

    <section id="budget" class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 col-sm-12 top-bottom-padding text-center">
        <h1>وضعیت بودجه و حمایت‌های شده</h1>

        <div class="row">

            <div class="col-lg-8 col-lg-offset-2" style="margin-top: 100px">
                <div class="arrow_box">5000</div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3>123</h3>

                <p>تعداد حامیان (نفر)</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>5000</h3>

                <p>میزان حمایت (ریال)</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>56</h3>

                <p>مدت زمان (روز)</p>
            </div>
        </div>


    </section>

    <section id="support" class="col-lg-12 col-md-12 col-sm-12 top-bottom-padding text-center" style="background-image: url('{{ url_for('static', filename='image/support.jpg') }}');">
        <h1 class="top-bottom-padding">حمایت مالی از کمپین</h1>

        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" method="post">
                <div class="col-lg-12 no-padding margin-top">
                    <input class="form-input btn-block" type="email" placeholder="پست الکترونیک">
                </div>

                <div class="col-lg-12 col-md-12 no-padding">
                    <div class="col-lg-6 col-md-6 no-padding margin-top padding-right">
                        <input class="form-input btn-block" type="number" placeholder="مبلغ به تومان">
                    </div>
                    <div class="col-lg-6 col-md-6 no-padding margin-top padding-left">
                        <input class="form-input btn-block" type="text" placeholder="نام پرداخت کننده">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 no-padding margin-top">
                    <button type="submit" class="btn btn-green btn-block">ارسال به درگاه</button>
                </div>
            </form>
        </div>
    </section>


    <section id="supporters" class="col-lg-12 col-md-12 col-sm-12 top-bottom-padding text-center" style="margin-bottom: 75px">
        <h1 class="top-bottom-padding" style="margin-bottom: 75px">حمایت کنندگان</h1>

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            {% for i in range(36) %}
                <div class="avatar"></div>
            {% endfor %}
        </div>
    </section>

{% endblock %}